body {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}

.mySlides {
  display: none
}
#hero h1{
  margin-left: 10px;
}
#hero h2{
  margin-left: 10px;
}


header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  z-index:1000;
}

header * {
  display: inline;
  height: 50px;
}


nav{
  position:fixed;
  top:0;
  left:0;
  background:white;
  height:40px;
  width:100%;
  z-index: 1;
  }

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    position:absolute;
    display:table;
    margin:0 auto;}

nav ul li{
      display:table-cell;
    }

nav ul li a{      
        padding:10px 20px;
        display:block;
        color:black;
        text-decoration:none;
        transition:all 0.3s ease-in-out;}
nav ul li.active{
         color:#FFBF56;
         font-weight: bold;
         background-color: #FFBF56;
         border-bottom:3px solid #FFBF56;
}



/*nav*/
/*----- Toggle Button -----*/
.toggle-nav {
  display:none;
}
.video{
  display: inline-block;
}


.menu ul {
  display:inline-block;
}

/*nav end*/



p{
  display: flex;
  text-align: left;
}

/*grid*/
.workcontainer {
  display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows:600px 100px 600px 100px 600px 100px;

}

.mockup1{
  background-image: url('../img/mockup_1.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup2{
  background-image: url('../img/mockup_2.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  overflow: hidden;
  max-height: 500px;
}

.mockup3{
  background-image: url('../img/mockup_3.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup4{
  background-image: url('../img/mockup_4.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup5{
  background-image: url('../img/mockup_5.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 5/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup6{
  background-image: url('../img/mockup_6.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 5/span 1;
  overflow: hidden;
  max-height: 500px;
}
.text1{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text2{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text3{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 4/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text4{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 4/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text5{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 6/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text6{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 6/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}

.project{
  align-items: center;
  justify-content: center;
  width: 450px;
    height: 490px;
    margin:50px auto;
    text-align: center;
}



nav a:hover{
  font-weight: bold;
}
nav a:focus {
  font-weight: bold;
}

.cardp{
  font-size: 20px !important;
   margin-top: 0 !important;
   padding-top: 0 !important;
   text-align: left;
}

.hit-the-floor {
  color: #3D38CB;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}

body {
  background-color: white;
}

body {
  margin: 0;
  margin-top: 50px;
  font-family: sans-serif;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 25px;
  background-color: #eee;
}

header * {
  display: inline;
  height: 50px;
}


section {
  min-height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-size: cover; /* Add this line */
  background-position: center center; /* Add this line */
  background-repeat: no-repeat; /* Add this line */
  background-attachment: fixed; /* Add this line */
}

.section-inner {
  padding: 10px;
}


#hero .profile-img {
  width: 300px;
  border-radius: 50%;
}


.section-max-width{
  max-width:800px;
}
.list-width{
  width:30px;
}
footer {
  color:black;
  text-align: center;
  padding: 50px;
}

#hero h1 {
  font-size: 4vw;
  margin-right: 100px;text-align: left;
}

#hero h2 {
  font-size: 3vw;
  margin-right: 100px;text-align: left;
}

section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: black;
}


/*flip card end*/

 .maincontainer{
  position: relative;
  margin-bottom: 50px;
  width: 250px;
  height: 300px;
  background: none;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.thecard:hover{
  transform: rotateY(180deg);
}

/*flipbytab*/
#flipcard:focus{
  transform: rotateY(180deg);
}

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #3D38CB;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}


/*This block (starts here) is merely styling for the flip card, and is NOT an essential part of the flip code */
.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
}





/* Add everything below here */
#hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/white.jpg');
}

#about {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/designbg.jpg');
}

#work{
  background-color: #F2EEEB;
  display:inline-block; 
  width: 100%;

}

#video {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/studio.jpg');
}

#photo {
  background-color: #fff0f2 ;
}

#contact {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/marble.jpg');
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.text-wide {
  letter-spacing: 4px
}

/* The grid: three equal columns that floats next to each other */
.column {
  float: left;
  max-width: 33%;
  padding: 0 6px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 1;
  transform: scale(1.05);
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}



.col-1-2 {
  margin-top: 20px;
    float: left;
    padding-right: 20px;
    width: 50%;
}




/*work section css***********************/

.headline h2,
.headline h3
 {
    margin:0px;
    width: 100%;
    display: inline;
    padding:1em;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}




/*css anamition */

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width:800px){
.at-item {
  font-size: 24px;
  color: #3079ed;
  animation-name: angry-animation;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}}
@keyframes angry-animation {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}



/*grid change*/



@media screen and (max-width:950px){
  .workcontainer {
  display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows:400px 50px 400px 50px 400px 50px 400px 50px 400px 50px 400px 50px;

}

.mockup1{
  background-image: url('../img/mockup_1.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup2{
  background-image: url('../img/mockup_2.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
  max-height: 500px;
}

.mockup3{
  background-image: url('../img/mockup_3.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 5/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup4{
  background-image: url('../img/mockup_4.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 7/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup5{
  background-image: url('../img/mockup_5.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 9/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup6{
  background-image: url('../img/mockup_6.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 11/span 1;
  overflow: hidden;
  max-height: 500px;
}
.text1{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text2{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 4/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text3{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 6/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text4{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 8/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text5{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 10/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text6{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 12/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}

.project{
  align-items: center;
  justify-content: center;
  width: 300px;
    height: 320px;
    margin:50px auto;
    text-align: center;
}
}

@media screen and (max-width:800px){

   .maincontainer{
  position: relative;
  margin-bottom: 50px;
  width: 200px;
  height: 250px;
  background: none;
  top: 180px;
  left: 50%;
  margin-bottom: 80px;
  transform: translate(-50%, -50%);

}
.cardp{
  font-size: 15px !important;
   margin-top: 0 !important;
   padding-top: 0 !important;
   text-align:left !important;
}


  .column {
    flex: 50%;
    max-width: 50%;
  }

  /*remove css annimation*/
  .at-item {
  font-size: 24px;
  color: #3079ed;
  animation-name:"";
}
  #hero .profile-img {
  width: 200px;
  border-radius: 50%;
  max-width:100%;
  height:auto; 
  text-align: right;
}

/*responvive nav*/
  .wrap {
    width:90%;
  }


  .menu {
    display:inline-block;
  }

  .menu ul.showNav {
    display:none;
  }

  .menu ul {
    width:50%;
    height: 350px;
    position:absolute;
    top:120%;
    left:0px;
    padding:10px 18px;
    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:white;
  }

/*add a small arrow*/
  .menu ul:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0%;
    left:0px;
    content:'';
    transform:translate(0%, -100%);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid white;
  }


 


  .menu li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  .menu a {
    display:block;
  }

  .toggle-nav {
    float:left;
    display:inline-block;
  }


}
/* Responsive layout - makes a two column-layout instead of four columns */





/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:500px) {
  .contact_anno{
    display: none;
  }
  .col-1-2{
    width: 100%;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }

   .maincontainer{
  position: relative;
  margin-bottom: 50px;
  width: 180px;
  height: 300px;
  background: none;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);

}

.cardp{
  font-size: 12px !important;
   margin-top: 0 !important;
   padding-top: 0 !important;
   text-align:center !important;
}



#hero .profile-img {
  width: 150px;
  border-radius: 50%;
  max-width:100%;
  height:auto; 
  text-align: right;
}
.video{
  display: none;
}

}





/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#contact .sm-icon {
  width: 5%;
  margin: 10px;

}

footer {
    text-align: center;
    padding: 50px;
  }