body {
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin-top: 50px;
}

.mySlides {
  display: none
}


header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  z-index:1000;
}

header * {
  display: inline;
  height: 50px;
}


nav{
  position:fixed;
  top:0;
  left:0;
  background:#55443D;
  height:40px;
  width:100%;
  z-index: 1;
  }

nav ul{
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    display:table;
    margin:0 auto;}

nav ul li{
      display:table-cell;
    }

nav ul li a{      
        padding:10px 20px;
        display:block;
        color:white;
        text-decoration:none;
        transition:all 0.3s ease-in-out;}
nav ul li.active{
         color:#F38A8A;
         font-weight: bold;
         background-color: #F38A8A;
         border-bottom:3px solid #F38A8A;
}

/*----- Toggle Button -----*/
.toggle-nav {
  display:none;
}


.menu ul {
  display:inline-block;
}


/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width:90%;
  }
}



@media screen and (max-width: 860px) {
  .menu {
    display:inline-block;
  }

  .menu ul.showNav {
    display:none;
  }

  .menu ul {
    width:50%;
    height: 350px;
    position:absolute;
    top:120%;
    left:0px;
    padding:10px 18px;
    box-shadow:0px 1px 1px rgba(0,0,0,0.15);
    border-radius:3px;
    background:#55443D;
  }

  .menu ul:after {
    width:0px;
    height:0px;
    position:absolute;
    top:0%;
    left:0px;
    content:'';
    transform:translate(0%, -100%);
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-bottom:7px solid #55443D;
  }

  .menu li {
    margin:5px 0px 5px 0px;
    float:none;
    display:block;
  }

  .menu a {
    display:block;
  }

  .toggle-nav {
    float:left;
    display:inline-block;
  }
}


/*nnnnnnnnnnnavvvvvv*/



p{
  display: flex;
  text-align: left;
}

/*grid*/
.workcontainer {
  display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows:600px 100px 600px 100px 600px 100px;

}

.mockup1{
  background-image: url('../img/mockup_1.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup2{
  background-image: url('../img/mockup_2.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  overflow: hidden;
  max-height: 500px;
}

.mockup3{
  background-image: url('../img/mockup_3.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup4{
  background-image: url('../img/mockup_4.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 3/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup5{
  background-image: url('../img/mockup_5.png');
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 5/span 1;
  overflow: hidden;
  max-height: 500px;
}
.mockup6{
  background-image: url('../img/mockup_6.png');
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 5/span 1;
  overflow: hidden;
  max-height: 500px;
}
.text1{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text2{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text3{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 4/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text4{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 4/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text5{
  background-size: cover;
  grid-column: 2/span 1;
  grid-row: 6/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}
.text6{
  background-size: cover;
  grid-column: 3/span 1;
  grid-row: 6/span 1;
  overflow: hidden;
  max-height: 500px;
  margin: 0 60px;
}

.project{
  align-items: center;
  justify-content: center;
  width: 450px;
    height: 490px;
    margin:50px auto;
    text-align: center;
}



nav a:hover {
  font-weight: bold;
}


.hit-the-floor {
  color: #3D38CB;
  font-size: 12em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}

body {
  background-color: #f1f1f1;
}


body {
  margin: 0;
  margin-top: 50px;
  font-family: sans-serif;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 25px;
  background-color: #eee;
}

header * {
  display: inline;
  height: 50px;
}


section {
  min-height: 150vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-size: cover; /* Add this line */
  background-position: center center; /* Add this line */
  background-repeat: no-repeat; /* Add this line */
  background-attachment: fixed; /* Add this line */
}

.section-inner {
  padding: 10px;
}


#hero .profile-img {
  width: 300px;
  border-radius: 50%;
}


.section-max-width{
  max-width:800px;
}
.list-width{
  width:30px;
}
footer {
  text-align: center;
  padding: 50px;
}

#hero h1 {
  font-size: 2.5vw;
  margin-right: 100px;text-align: left;
}

#hero h3 {
  font-size: 2vw;
  margin-right: 100px;text-align: left;
}

section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: black;
}

/* Add everything below here */
#hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/white.jpg');
}

#about {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/designbg.jpg');
}

#work{
  background-color: #EEF1F7;
}

#video {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/studio.jpg');
}

#photo {
  background-color: #fff0f2 ;
}

#contact {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('../img/marble.jpg');
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.text-wide {
  letter-spacing: 4px
}

/* The grid: three equal columns that floats next to each other */
.column {
  float: left;
  max-width: 33%;
  padding: 0 6px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  opacity: 1;
  transform: scale(1.05);
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}



.col-1-2 {
  margin-top: 20px;
    float: left;
    padding-right: 20px;
    width: 50%;
}




/*work section css***********************/

.headline h2,
.headline h3
 {
    margin:0px;
    width: 100%;
    display: inline;
    padding:1em;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}




/*css anamition */

div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.at-item {
  font-size: 24px;
  color: #3079ed;
  animation-name: angry-animation;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
@keyframes angry-animation {
  0%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40%{
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60%{
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*end of css anamition*/


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width:800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}



@media screen and (max-width:600px) {

#hero .profile-img {
  width: 300px;
  border-radius: 50%;
  max-width:100%;
  height:auto; 
  text-align: right;
}
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#contact .sm-icon {
  width: 5%;
  margin: 10px;

}

footer {
    text-align: center;
    padding: 50px;
  }